<section class="resume-section" id="work-projects">
  <div class="resume-section-content">
    <h2 class="mb-5">Work Projects</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Ecommerce Site (Angular, Angular material)	</h3>
        <div class="subheading mb-3">Mercury Systems, Inc.</div>
        <ul>
          <li>Empowered clients to easily query and sort monthly statements with data-binding and data-filter features, enhancing user experience in Single Page Applications through the use of routing, directives, and templates.</li>
          <li>Developed dynamic client-side elements with hide, show, and event binding functionality, implementing AJAX calls for JSON responses, and ensured secure access with the creation of router guard services for protected routes.</li>
        </ul>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Sep 2022</span></div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Equipment Signup App (MS PowerApps, MS Flow, MS SharePoint)	</h3>
        <div class="subheading mb-3">Entegris, Inc.</div>
        <ul>
          <li>Developed an app to manage lab equipment availability, integrating with Outlook365's calendar for streamlined scheduling.</li>
          <li>Created comprehensive instructions and a quick guide for user support.</li>
        </ul>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Sep 2020</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Equipment Signup App (MS PowerApps, MS Flow, MS SharePoint)	</h3>
        <div class="subheading mb-3">Entegris, Inc.</div>
        <ul>
          <li>Analyzed VBA file to design UI and workflow, utilizing MS Automate for email approvals and notifications in a role-based system (initiator, approver, handler, scheduler).</li>
          <li>Maintained comprehensive documentation, including function lists, update logs, instructions, and UX workflow.</li>
        </ul>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Jun 2020</span></div>
    </div>

  </div>
</section>
