<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <h2 class="mb-5">Experience</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-1">
      <div class="flex-grow-1">
        <h3 class="mb-0">Angular Developer/Tester (Contract)</h3>
        <div class="subheading mb-3">Mercury Systems, Inc. - Princeton, NJ</div>
        <ul>
          <li>Successfully completed Angular training program and utilized newly acquired skills to design and develop a responsive and scalable ecommerce website for a client.</li>
          <li>Collaborated with client stakeholders to identify and understand their business requirements, and designed a custom solution that integrated seamlessly with their existing systems and processes.</li>
        </ul>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Mar 2022 - Jan 2023</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
      <div class="flex-grow-1">
        <h3 class="mb-0">Product Development Engineer (Co-op)</h3>
        <div class="subheading mb-3">Entegris, Inc. - Billerica, MA</div>
        <ul>
          <li>Developed a <b>Sample Request Database</b> using PowerApps for efficient customer order tracking, and an <b>Equipment Signup App</b> for streamlined lab equipment management.</li>
          <li>Collaborated with team members to identify pain points, gathered stakeholder requirements, and devised solutions to meet business needs.</li>
        </ul>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Jan 2020 - Mar 2022</span></div>
    </div>
    <hr>
<!--    OTHER WORK EXPERIENCE-->

    <h3 class="mt-5 mb-5">Other Work Experience</h3>

    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="flex-grow-1">
        <h4 class="mb-0">Digital Dental Technician</h4>
        <div class="subheading mb-1">Ztech Dental Studio - Garden Grove, CA</div>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Apr 2023 - present</span></div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
      <div class="flex-grow-1">
        <h4 class="mb-0">Manufacturing Technician</h4>
        <div class="subheading mb-1">Scott Electronics, Inc. - Salem, NH</div>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Aug 2015 - Dec 2018</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="flex-grow-1">
        <h4 class="mb-0">Program coordinator</h4>
        <div class="subheading mb-3">Mobile Dentistry - Boston, MA</div>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Jan 2016 - Aug 2018</span></div>
    </div>
  </div>


</section>
