<section class="resume-section" id="skills">
  <div class="resume-section-content">
    <h2 class="mb-5">Skills</h2>
    <!--<div class="subheading mb-3">Programming Languages & Tools</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item"><i class="fab fa-html5 fa-beat"></i></li>
      <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
      <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
      <li class="list-inline-item"><i class="fab fa-angular"></i></li>
      <li class="list-inline-item"><i class="fab fa-react"></i></li>
      <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
      <li class="list-inline-item"><i class="fab fa-sass"></i></li>
      <li class="list-inline-item"><i class="fab fa-less"></i></li>
      <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
      <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
      <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
      <li class="list-inline-item"><i class="fab fa-npm"></i></li>
    </ul>
    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Mobile-First, Responsive Design
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Cross Browser Testing & Debugging
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Cross Functional Teams
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Agile Development & Scrum
      </li>
    </ul>-->
<!--    <div class="subheading mb-3">Programming Languages & Tools</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item"><i class="fab fa-html5 fa-beat"></i></li>
      <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
      <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
      <li class="list-inline-item"><i class="fab fa-angular"></i></li>
      <li class="list-inline-item"><i class="fab fa-react"></i></li>
      <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
      <li class="list-inline-item"><i class="fab fa-sass"></i></li>
      <li class="list-inline-item"><i class="fab fa-less"></i></li>
      <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
      <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
      <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
      <li class="list-inline-item"><i class="fab fa-npm"></i></li>
    </ul>-->
    <ul lass="list-inline dev-icons">
      <li><b>Web Development:</b> Angular, Progressive Web Application (PWA), Spring framework, Spring Boot, HTML5, CSS3, SCSS, RxJs</li>
      <li><b>UI Frameworks:</b> Bootstrap, ngMaterial, Clarity, Servlet(JSP), Thymeleaf</li>
      <li><b>Programing Languages:</b> JavaScript (ES5, ES6), TypeScript, Java (8), Python, C#</li>
      <li><b>Design Tool:</b> Figma, Adobe Suite (Photoshop, Illustrator, Indesign)</li>
      <li><b>API Tool:</b> Postman, Mockoon</li>
      <li><b>Databases:</b> MySQL, PostgreSQL, MS SharePoint, Firebase</li>
      <li><b>Version Control:</b> Git, Github</li>
      <li><b>Development methodologies:</b> Agile/Scrum</li>
      <li><b>Project management tools:</b> JIRA, Trello</li>
      <li><b>Operating System:</b> Windows, Mac, Linux</li>
      <li><b>Language:</b> Proficient in English, Fluency in Vietnamese</li>
    </ul>














  </div>
</section>
