<section class="resume-section" id="self-projects">
  <div class="resume-section-content">
    <h2 class="mb-5">self Projects</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
      <div class="flex-grow-1">
        <h3 class="mb-0">User Management System</h3>

        <a target="_blank" href="https://github.com/vamplrea/UserBackEndProject"><i class="fa-brands fa-square-git  fa-xl" style="color: #1d3ddd;"></i> </a>

        <ul>
          <li>Developed a user management system using Spring Boot, Spring Security, PasswordEncoder, H2 and JPA.</li>
          <li>Implemented user registration and login functionality with hashed password using PasswordEncoder for enhanced security, and utilized Spring Security to provide authentication and authorization features to protect certain parts of the application.</li>
        </ul>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Mar 2023</span></div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
      <div class="flex-grow-1">

        <h3 class="mb-0"><a target="_blank" href="https://weather-app-a1481.web.app">Weather App </a></h3>
        <a target="_blank" href="https://github.com/vamplrea/weather-app"><i class="fa-brands fa-square-git  fa-xl" style="color: #1d3ddd;"></i> </a>

        <ul>
          <li>Utilized Angular Material and built-in HTTP client to communicate with OpenWeather API, while enabling PWA offline functionality and update notifications through service worker interaction.</li>
          <li>Deployed production on Firebase, with the capability for local installation on devices.</li>
        </ul>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Nov 2022</span></div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
      <div class="flex-grow-1">
        <h3 class="mb-0"><a target="_blank" href="https://issue-tracking-system-9df7d.web.app">Issue Tracker</a></h3>


        <a target="_blank" href="https://github.com/vamplrea/issue-tracker"><i class="fa-brands fa-square-git  fa-xl" style="color: #1d3ddd;"></i> </a>

        <ul>
          <li>Developed an Angular-based issue tracking application with reactive forms and Clarity Design System, featuring a data grid for pending issues display, intuitive form validations, and efficient issue resolution via modal dialogs.</li>
        </ul>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Oct 2022</span></div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
      <div class="flex-grow-1">
        <h3 class="mb-0">Color Finder for Cozmo Robot</h3>

        <a target="_blank" href="https://github.com/vamplrea/color_cube_detection)"><i class="fa-brands fa-square-git  fa-xl" style="color: #1d3ddd;"></i> </a>

        <ul>
          <li>Used Python, OpenCV to build a program to detect color of the cubes from Cozmo Robot’s camera.</li>
        </ul>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Dec 2018</span></div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
      <div class="flex-grow-1">
        <h3 class="mb-0">Interaction of Facebook Posts and Google Map </h3>

        <a target="_blank" href="https://github.com/vamplrea/locate-my-Facebook-s-posts"><i class="fa-brands fa-square-git  fa-xl" style="color: #1d3ddd;"></i> </a>

        <ul>
          <li>Developed an Angular-based issue tracking application with reactive forms and Clarity Design System, featuring a data grid for pending issues display, intuitive form validations, and efficient issue resolution via modal dialogs.</li>
        </ul>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Dec 2017</span></div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
      <div class="flex-grow-1">
        <h3 class="mb-0">Motorcycle Permit Test Simulator</h3>

        <a target="_blank" href="https://quiz-intro.vamplrea.repl.co"><i class="fa-solid fa-eye fa-xl" style="color: #1d3ddd;"></i> </a>

        <ul>
          <li>Used HTML, CSS, JavaScript, jQuery to build an interactive quiz app.</li>
        </ul>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Dec 2017</span></div>
    </div>



  </div>
</section>
